################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/.vs/
/Util/bin/Debug
/Util/obj/Debug
/UI.Web/bin
/UI.Web/obj/Debug
/UI.Desktop/bin/Debug
/UI.Desktop/obj/Debug
/Business.Logic/bin/Debug
/Business.Logic/obj/Debug
/Business.Entities/bin/Debug
/Business.Entities/obj/Debug
/Business.Entities/obj/Release
/UI.Desktop/obj/Release
/Business.Logic/bin/Release
/Business.Entities/bin/Release
/Business.Logic/obj/Release
/Data.Database/bin/Release
/Data.Database/obj/Release
/UI.Consola/obj/Release
/UI.Desktop/bin/Release
/UI.Web/obj/Release
/Util/obj/Release
